{{ partial "header.html" . }}

{{ .Content }}



{{ $ip := print (replace (replace .Dir "hosts/" "") "/" "") }}
<div class="as-container d-flex">
  <div class="p-2 flex-fill">
    <dl>
      <dt>IP Addresses</dt>
      {{ range .Params.IPAddresses }}
      <dd>
        <code>{{ . }}</code>
      </dd>
      {{ end }}
    </dl>
  </div>
  <div class="p-2 flex-fill">

    <dl>
      <dt>Root Domains</dt>
      {{ range .Params.RootDomains }}
      <dd>
        <code>{{ . }}</code>
      </dd>
      {{ end }}
      <dt>Hostnames</dt>
      {{ range .Params.Hostnames }}
      <dd>
        <code>{{ . }}</code>
      </dd>
      {{ end }}
    </dl>
  </div>
  <div class="p-2 flex-fill">
    <dl>
      <dt>TCP ports</dt>
      {{ range .Params.TCPPorts }}
      <dd>
        <code>{{ . }}</code>
      </dd>
      {{ end }}
      <dt>UDP ports</dt>
      {{ range .Params.UDPPorts }}
      <dd>
        <code>{{ . }}</code>
      </dd>
      {{ end }}
    </dl>
    Tags:
    <ul>
    {{ range .Params.Flags }}
    {{$flag := print . }}
      <li>
        <a href="/flags/{{ $flag | urlize }}">{{ $flag }} </a>
      </li>
    {{ end }}
    </ul>
  </div>
</div>
<div class="as-container">
  {{$readme := print "content/" .Dir "/README.md" }}
  {{ if and (fileExists $readme)}}

  {{ (print $readme) | readFile | markdownify }}

  {{ end }}
</div>

<div class="as-container">
  {{ $lootDir := print "content/" .Dir "/loot/" }}
  {{ if and (fileExists $lootDir)}}
	  <h3>Loot</h3>
		{{$credentials := print $lootDir "/passwords/credentials.txt" }}
		{{ if and (fileExists $credentials)}}
		<div class="expand">
		    <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
		        <i style="font-size:x-small;" class="fas fa-chevron-down"></i>
		        <span>Valid credentials</span>
		    </div>
		    <div class="expand-content" style="">
		        <pre>{{readFile $credentials }}</pre>
		    </div>
		</div>
  	{{ end }}


    {{$keys := print $lootDir "/keys/" }}
    {{ if and (fileExists $keys)}}
		<div class="expand">
				<div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
						<i style="font-size:x-small;" class="fas fa-chevron-down"></i>
						<span>Keys</span>
		    </div>
		    <div class="expand-content" style="">
          {{ range (readDir $keys) }}
          {{ .Name }}
					<pre>{{readFile (print $keys .Name) }}</pre>
          {{ end }}
				</div>
		</div>
    {{ end }}
  {{ range $index, $element := (readDir $lootDir) }}
    {{$lootFile := print $lootDir .Name  }}
    {{ if and (ne $element.Name "passwords") (ne $element.Name "keys") }}
    <div class="card">
      <div class="card-header" id="headingThree{{ $index }}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree{{ $index }}" aria-expanded="false" aria-controls="collapseThree">
            {{ $element.Name }}</button>
        </h2>
      </div>
      <div id="collapseThree{{ $index }}" class="collapse" aria-labelledby="headingThree" data-parent="#loot-accordian">
        <div class="card-body">
          <pre>{{readFile $lootFile }}</pre>
        </div>
      </div>
    </div>
    {{ end }}
  {{ end }}
{{ end }}


  {{$reconDir := print "content/" .Dir "/recon/" }}
  {{ if and (fileExists $reconDir)}}
  <h3>Recon</h3>
    {{ $.Scratch.Set "counter" 0 }}
    {{ range $index, $element := (readDir $reconDir) }}
      {{ if (in $element.Name "aquatone") }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        {{$aquatonePath := print "/" ( replace $reconDir "content/" "" ) "/" $element.Name  "/aquatone_report.html#/pages/single" }}
        {{ if eq ($.Scratch.Get "counter") 1 }}

				<div class="expand">
				    <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
				        <i style="font-size:x-small;" class="fas fa-chevron-right"></i>
				        <span>Aquatone</span>
				    </div>
				    <div class="expand-content" style="display: none">
        {{ end }}
          <a href="{{ $aquatonePath }}" target="aquatone-frame">{{ $element.Name }}</a>
      {{ end }}
    {{ end }}
    {{ $.Scratch.Set "counter" 0 }}
    {{ range $index, $element := (readDir $reconDir) }}
      {{ if (in $element.Name "aquatone") }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        {{$aquatonePath := print "/" ( replace $reconDir "content/" "" ) "/" $element.Name  "/aquatone_report.html#/pages/single" }}
        {{ if eq ($.Scratch.Get "counter") 1 }}
          <iframe name="aquatone-frame" src="{{ $aquatonePath }}" style="height: 500px; width: 100%"></iframe>
				</div>
		</div>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ range $index, $element := (readDir $reconDir) }}
      {{ if and (not (in $element.Name ".gnmap")) (not (in $element.Name "aquatone")) (not (in $element.Name "ignore_"))  }}
      {{$reconFile := print $reconDir $element.Name  }}

			<div class="expand">
			    <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
			        <i style="font-size:x-small;" class="fas fa-chevron-right"></i>
			        <span>
								{{ $element.Name }}
              {{ if or (in $reconFile ".html") (in $reconFile ".xml") }}
              <a href="{{ replace $reconFile "content/" "/" }}" class="">
                <i class="fa fa-lg fa-link" aria-hidden="true"></i>
              </a>
              {{end}}

				    	</span>
				    </div>
				    <div class="expand-content" style="display: none;">
          {{ if and (in $reconFile ".xml") (in $reconFile "nmap") }}
          <iframe name="nmap-frame" src="{{ replace $reconFile "content/" "/" }}" style="height: 500px; width: 100%"></iframe>
          {{ else }}
          <pre>{{readFile $reconFile }}</pre>
          {{end}}
	    </div>
	</div>
      {{ end }}
    {{ end }}
  {{ end }}



<footer class="footline">
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}
