{{ define "page_header" }}
<div class="container">
  <h2>{{ .Params.Name }}</h2>
</div>
{{ end }}

{{ define "main" }}
{{ $ip := print (replace (replace .Dir "hosts/" "") "/" "") }}
<div class="container d-flex">
  <div class="p-2 flex-fill">
    Reviewed By: {{ .Params.ReviewedBy }}
    <dl>
      <dt>IP Addresses</dt>
      {{ range .Params.IPAddresses }}
      <dd>
        <code>{{ . }}</code>
      </dd>
      {{ end }}
    </dl>
  </div>
  <div class="p-2 flex-fill">

    <dl>
      <dt>Root Domains</dt>
      {{ range .Params.RootDomains }}
      <dd>
        <code>{{ . }}</code>
      </dd>
      {{ end }}
      <dt>Hostnames</dt>
      {{ range .Params.Hostnames }}
      <dd>
        <code>{{ . }}</code>
      </dd>
      {{ end }}
    </dl>
  </div>
  <div class="p-2 flex-fill">
    <dl>
      <dt>TCP ports</dt>
      {{ range .Params.TCPPorts }}
      <dd>
        <code>{{ . }}</code>
      </dd>
      {{ end }}
      <dt>UDP ports</dt>
      {{ range .Params.UDPPorts }}
      <dd>
        <code>{{ . }}</code>
      </dd>
      {{ end }}
    </dl>
    Tags:
    <ul>
    {{ range .Params.Flags }}
    {{$flag := print . }}
      <li>
        <a href="/flags/{{ $flag | urlize }}">{{ $flag }} </a>
      </li>
    {{ end }}
    </ul>
  </div>
</div>
<div class="container">
  {{$readme := print "content/" .Dir "/README.md" }}
  {{ if and (fileExists $readme)}}

  {{ (print $readme) | readFile | markdownify }}

  {{ end }}
</div>
<div class="container">
    {{$lootDir := print "content/" .Dir "/loot/" }}
    {{ if and (fileExists $lootDir)}}
  <h3>Loot</h3>
  <div class="accordion" id="loot-accordian">
        {{$credentials := print $lootDir "/passwords/credentials.txt" }}
        {{ if and (fileExists $credentials)}}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Valid credentials</button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#loot-accordian">
        <div class="card-body">
          <pre>{{readFile $credentials }}</pre>
        </div>
      </div>
    </div>
    {{ end }}
    {{$keys := print $lootDir "/keys/" }}
    {{ if and (fileExists $keys)}}
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Keys</button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#loot-accordian">
        <div class="card-body">
          {{ range (readDir $keys) }}
          {{ .Name }}
          <pre>{{readFile (print $keys .Name) }}</pre>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  {{ range $index, $element := (readDir $lootDir) }}
    {{$lootFile := print $lootDir .Name  }}
    {{ if and (ne $element.Name "passwords") (ne $element.Name "keys") }}
    <div class="card">
      <div class="card-header" id="headingThree{{ $index }}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree{{ $index }}" aria-expanded="false" aria-controls="collapseThree">
            {{ $element.Name }}</button>
        </h2>
      </div>
      <div id="collapseThree{{ $index }}" class="collapse" aria-labelledby="headingThree" data-parent="#loot-accordian">
        <div class="card-body">
          <pre>{{readFile $lootFile }}</pre>
        </div>
      </div>
    </div>
    {{ end }}
  {{ end }}
  </div>
{{ end }}
  {{$reconDir := print "content/" .Dir "/recon/" }}
  {{ if and (fileExists $reconDir)}}
  <h3>Recon</h3>
  <div class="accordion" id="recon-accordian">
    {{ $.Scratch.Set "counter" 0 }}
    {{ range $index, $element := (readDir $reconDir) }}
      {{ if (in $element.Name "aquatone") }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        {{$aquatonePath := print "/" ( replace $reconDir "content/" "" ) "/" $element.Name  "/aquatone_report.html#/pages/single" }}
        {{ if eq ($.Scratch.Get "counter") 1 }}
    <div class="card">
      <div class="card-header" id="recon-heading-aquatone">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#recon-collapse-aquatone" aria-expanded="true" aria-controls="recon-collapse-aquatone">
                 Aquatone</button>
        </h2>
      </div>
      <div id="recon-collapse-aquatone" class="collapse show" aria-labelledby="recon-heading-aquatone" data-parent="#recon-accordian">
        <div class="card-body">
        {{ end }}
          <a href="{{ $aquatonePath }}" target="aquatone-frame">{{ $element.Name }}</a>
      {{ end }}
    {{ end }}
    {{ $.Scratch.Set "counter" 0 }}
    {{ range $index, $element := (readDir $reconDir) }}
      {{ if (in $element.Name "aquatone") }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        {{$aquatonePath := print "/" ( replace $reconDir "content/" "" ) "/" $element.Name  "/aquatone_report.html#/pages/single" }}
        {{ if eq ($.Scratch.Get "counter") 1 }}
          <iframe name="aquatone-frame" src="{{ $aquatonePath }}" style="height: 500px; width: 100%"></iframe>
        </div>
      </div>
    </div>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ range $index, $element := (readDir $reconDir) }}
      {{ if and (not (in $element.Name ".gnmap")) (not (in $element.Name "aquatone")) (not (in $element.Name "ignore_"))  }}
      {{$reconFile := print $reconDir $element.Name  }}
    <div class="card">
      <div class="card-header" id="recon-heading-{{ $index }}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#recon-collapse-{{ $index }}" aria-expanded="false" aria-controls="recon-collapse-{{ $index }}">
              {{ $element.Name }}
              {{ if or (in $reconFile ".html") (in $reconFile ".xml") }}
              <a href="{{ replace $reconFile "content/" "/" }}" class="">
                <i class="fa fa-lg fa-link" aria-hidden="true"></i>
              </a>
              {{end}}
            </button>
        </h2>
      </div>
      <div id="recon-collapse-{{ $index }}" class="collapse" aria-labelledby="recon-heading-{{ $index }}" data-parent="#recon-accordian">
        <div class="card-body">

          {{ if and (in $reconFile ".xml") (in $reconFile "nmap") }}
          <iframe name="nmap-frame" src="{{ replace $reconFile "content/" "/" }}" style="height: 500px; width: 100%"></iframe>
          {{ else }}
          <pre>{{readFile $reconFile }}</pre>
          {{end}}
        </div>
      </div>
    </div>
      {{ end }}
    {{ end }}
  {{ end }}
  </div>
</div>
{{ end }}
