body,
html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system-headline, 'Helvetica Neue', Helvetica, sans-serif;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 40px;
    text-align: center;
    color: #f8f8f8;
}

.intro-message {
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    color: rgb(51, 51, 51);
}

.intro-message > h3 {
    font-family: -apple-system-headline, 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, sans-serif;
}

.intro-message > h1 {
    font-family: -apple-system-subheadline, 'HelveticaNeue-UltraLight', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 3em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.container {
    /* width: 900px; */
    /* line-height: 1.2em; */
}

.header-container {
    width: 100%;
}

.container ul {
    line-height: 1.6em;
}

.container pre {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6em;
}

.container h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.contact {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/contact-bg.jpg) no-repeat center center;
    background-size: cover;
}

.contact h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.contact ul {
    margin-bottom: 0;
}

.contact-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.contact-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .contact h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.contact-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.contact-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}


@media(max-width:1000px) {
    .intro-message {
        padding-bottom: 10%;
        margin-top: -30px;
    }

    .intro-message > h1 {
        font-size: 1em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }

    .container {
       width: 90%;
   }

   .intro-message {
        text-align: center;
    }
}

.intro-image {
    height: 100%;
    min-height: 380px;
    margin-top: 20px;
    background: url(../img/intro-bg.svg) no-repeat center center;
    background-size: 280px;
}

.github-btn {
    margin-top: 10px;
}


ul.multi-column li,
#domains-provided + ul li,
#domains-discovered + ul li {
  display: inline-block;
  width: 250px;
}

ul.multi-column.ports li {
  width: 160px;
}

ul.multi-column.ports li a {
  display: inline-block;
  width: 60px;
}

ul.multi-column.hostnames li {
  width: 400px;
}

ul.multi-column.hostnames li a {
  display: inline-block;
  width: 320px;
}

body {
  margin-top: 70px;
}

img {
  width: 92%;
  margin: 0 2%;
  border: 1px solid #333;
}

tr.out-of-scope {
  opacity: 0.1;
}

tr.out-of-scope:hover {
  opacity: 0.8;
}

.out-of-scope td {
  background: #a00 !important;
}

.unreviewed td {
  background: #c3f7d1 !important;
}
/*
html, body {
  overflow: hidden;
} */
a.anchor {
    display: block;
    position: relative;
    top: -58px;
    visibility: hidden;
}

footer {
  display: none;
}

.highlight pre {
  padding: 10px;
}

.fade {
  @include transition($transition-fade);

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}


/*
#main {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 30px;
  padding-top: 20px;
} */


blockquote {
  background: #eee !important;
  border-left: 5px solid #ddd;
  padding:  10px 20px;
}



#container-scope ul > li {
  display: inline-block;
  width: 49%;
}

.container ul.toc  li {
  display: list-item;
  width: 100%;
}

.pull-right {
  float: right;
}
a.pull-right {
  padding: 0 0px;
  margin: 1px 2px;
  display: inline-block;
}

:root {
  --critical-dark: #AC0400;
  --critical-light: #FF5753;

  --high-dark: #DD6600;
  --high-light: #FFA253;

  --medium-dark: #DD9400;
  --medium-light: #FFC753;

  --low-dark: #D3DB00;
  --low-light: #F7FE53;

  --info-dark: #006368;
  --info-light: #41C1C6;
}



.risk-table td.risk-col {
  text-align: center;
}


.risk-table td.risk-rating-25,
.risk-table td.risk-rating-20 {
  border: 1px solid var(--critical-dark);
  color: #333;
  background: var(--critical-light);
}

.risk-table td.risk-rating-10,
.risk-table td.risk-rating-12,
.risk-table td.risk-rating-15,
.risk-table td.risk-rating-16 {
  border: 1px solid var(--high-dark);
  color: #333;
  background: var(--high-light);
}


.risk-table td.risk-rating-6,
.risk-table td.risk-rating-8,
.risk-table td.risk-rating-9 {
  border: 1px solid var(--medium-dark);
  color: #333;
  background: var(--medium-light);
}


.risk-table td.risk-rating-3,
.risk-table td.risk-rating-4,
.risk-table td.risk-rating-5 {
  border: 1px solid var(--low-dark);
  color: #333;
  background: var(--low-light);
}


.risk-table td.risk-rating-1,
.risk-table td.risk-rating-2 {
  border: 1px solid var(--info-dark);
  color: #333;
  background: var(--info-light);
}


.risk-table.likelihood-CRITICAL tr.risk-row-5 td.risk-rating-0,
.risk-table.likelihood-HIGH tr.risk-row-4 td.risk-rating-0,
.risk-table.likelihood-MEDIUM tr.risk-row-3 td.risk-rating-0,
.risk-table.likelihood-LOW tr.risk-row-2 td.risk-rating-0,
.risk-table.likelihood-INFORMATIONAL tr.risk-row-1 td.risk-rating-0,
.risk-table.impact-CRITICAL td.risk-col-5.risk-rating-0,
.risk-table.impact-HIGH td.risk-col-4.risk-rating-0,
.risk-table.impact-MEDIUM td.risk-col-3.risk-rating-0,
.risk-table.impact-LOW td.risk-col-2.risk-rating-0,
.risk-table.impact-INFORMATIONAL td.risk-col-1.risk-rating-0 {
  background: #B1D5F1;
}

.risk-table.impact-CRITICAL td.risk-col-5,
.risk-table.likelihood-CRITICAL tr.risk-row-5 td,
.risk-table.impact-HIGH td.risk-col-4,
.risk-table.likelihood-HIGH tr.risk-row-4 td,
.risk-table.impact-MEDIUM td.risk-col-3,
.risk-table.likelihood-MEDIUM tr.risk-row-3 td,
.risk-table.impact-LOW td.risk-col-2,
.risk-table.likelihood-LOW tr.risk-row-2 td,
.risk-table.impact-INFORMATIONAL td.risk-col-1,
.risk-table.likelihood-INFORMATIONAL tr.risk-row-1 td {
  border: 2px solid #333;
}

.rotate-label {
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  vertical-align: middle !important;
}

.rotate-label > div {
  transform: rotate(-90deg);
  white-space: nowrap;
  vertical-align: middle;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  background: white;
  border-bottom: 3px solid #444;
  z-index: 9999;
}

.sticky-header h2{
  margin-bottom: 5px;
}
