{{ define "page_header" }}
<div class="container">
  <h2>Summary sof {{ if ne .Title  "Root_domains" }}{{ .Title }}{{else}} Root Domains{{end}}</h2>
</div>
{{ end }}
{{ define "main" }}
<div class="container">
  {{ if .Content }}
  <div class="content">{{ .Content }}</div>
  {{ end }}
  {{ if ne .Title  "RootDomains" }}
    {{ partial "host-table.html" . }}

    <h3>Domains in {{ .Title }}</h3>
    {{ $.Scratch.Set "title" .Title }}
    <ul class="multi-column hostnames">
    {{ range .Site.Taxonomies.hostnames.ByCount }}
      {{ if in .Page.Title ($.Scratch.Get "title") }}
      <li>
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        {{ .Count }} hosts
      </li>
      {{ end }}
    {{ end }}
    </ul>
  {{ end }}
  <h3>All Root Domains</h3>
  <ul class="multi-column hostnames">
  {{ range .Site.Taxonomies.RootDomains.ByCount }}
    <li>
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
 {{ .Count }} hosts
    </li>
  {{ end }}

  </ul>
</div>
{{ end }}
