{{ define "page_header" }}
<div class="container">
  <h2>
   {{ .Name }}</h2>
</div>
{{ end }}
{{ define "main" }}
{{ $clickRate := mul (div (float .Params.EmailsClicked) (float .Params.EmailsSent)) 100 }}
{{ $viewRate := mul (div (float .Params.EmailsViewed) (float .Params.EmailsSent)) 100 }}
<div class="container">
    Target Group: {{ .Params.TargetGroup }}
  <br />
    Click Rate: {{ printf "%.2f" $clickRate }}%
  <br />
    View Rate: {{ printf "%.2f" $viewRate }}%
  <br />
    Emails Sent: {{ .Params.EmailsSent }}
  <br />
    Emails Clicked: {{ .Params.EmailsClicked }}
  <br />
    Emails Viewed: {{ .Params.EmailsViewed }}
  <br />
  <h3>Details</h3>
  {{ .Content }}
  <h3>Template</h3>
  {{$templateFile := print "content/" .Dir "/template.html" }}
  {{ if and (fileExists $templateFile)}}
  {{$templatePath := print "/" .Dir "/template.html" }}
  <iframe name="email-frame" src="{{ $templatePath }}" style="height: 600px; width: 100%"></iframe>
  {{ end }}
</div>
{{ end }}
