<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ with .Description }}
		{{ . }}
		{{ else }}
		{{if .IsPage}}{{ .Summary }}
		{{ else }}{{ with .Site.Params.description }}
		{{ . }}
		{{ end }}{{ end }}{{ end }}">

    <base href="{{ .Site.BaseURL }}">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/landing-page.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{{ block "page_nav" . }}
  <!-- Navigation -->
  <nav class="navbar  fixed-top  navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand page-scroll" style="padding-left: 0px;margin-left: 0px;" href="#top">
    {{ .Site.Title }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse justify-content-end navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-end ">
      <ul class="navbar-nav">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link {{ if or ($currentPage.IsMenuCurrent "main" .) (eq $currentPage.Section .Identifier) }} active {{end}}" href="{{ .URL }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}

			{{ if len (where .Site.Pages "Section" "social") }}
      <li class="nav-item">
        <a class="nav-link {{ if (eq $currentPage.Section "social") }} active {{end}}" href="/social/">
          Social
        </a>
      </li>
			{{ end }}

			{{ if len (where .Site.Pages "Section" "mobile") }}
      <li class="nav-item">
        <a class="nav-link {{ if (eq $currentPage.Section "mobile") }} active {{end}}" href="/mobile/">
          Mobile
        </a>
      </li>
			{{ end }}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Quick Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/flags/findings/">Hosts With Findings</a>
          <a class="dropdown-item" href="/flags/interesting/">Interesting Hosts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.first.org/cvss/calculator/3.0">First.org CVSS Calculator</a>
          <a class="dropdown-item" href="https://cwe.mitre.org/data/index.html">CWE</a>
        </div>
      </li>
      </ul>
    </div>
    </div>
  </nav>
{{ end }}

{{ block "page_header" . }}
  <section id="intro">
  	<div class="intro-header">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
  					<div class="intro-message">
  						<h1>{{ .Site.Title }}</h1>
  						<h3>{{ .Site.Params.description }}</h3>
  						<hr class="intro-divider">
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </section>
{{ end }}

<!-- Code that all your templates share, like a header -->
{{ block "main" . }}
<!-- The part of the page that begins to differ between templates -->
{{ end }}

<footer>
    <div class="container">

    </div>
</footer>

<script src="js/jquery-1.11.0.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
