<div class="pull-right">
</div>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>IP</th>
      <th>Hostname</th>
      <th>Flags</th>
      <th>Open Ports</th>
    </tr>
  </thead>
 {{ range .Pages }}
    {{$recon := print .Dir  "/recon" }}
   {{ if (fileExists $recon) -}}
    {{$hostname := print .Dir  "/hostname" }}
  <tr class="{{ if or (in .Params.flags "out of scope") (in .Params.flags "Out of Scope") (in .Params.flags "Out Of Scope") -}}out-of-scope{{ end -}} {{ if or (in .Params.flags "out of scope") (in .Params.flags "Unreviewed") (in .Params.flags "unreviewed") -}}unreviewed{{ end -}}">
    <td>
      <a href="{{.Permalink}}">
        <span class="post-title">{{ replace (replace .Dir "hosts/" "") "/" "" }}</span>
      </a>
    </td>
    <td>
          {{ if (fileExists $hostname) -}}
          {{readFile $hostname }}
          {{ end }}</td>
    <td>
          {{ range .Params.flags }}
      <span class="badge badge-secondary">{{ . }}</span>
          {{ end }}
    </td>
    <td>{{if .Params.ports}}{{ delimit (.Params.ports) " " }}{{end}}</td>
  </tr>
   {{ end }}
   {{ end }}
</table>
