{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>

{{ if fileExists "content/sections/README.md" }}
	<div class="container">
		<a class="anchor" id="project-info"></a>
		<h2>Project Information</a></h2>
		<p>
	{{readFile "content/sections/README.md" | markdownify}}</p>
		<hr />
	</div>
{{ end }}

{{if .Site.Home.Content }}
{{.Site.Home.Content}}
{{ end }}
{{ partial "footer.html" . }}
