{{ define "page_header" }}
<div class="container">
  <h2>Sweet Pipeline</h2>
</div>
{{ end }}
{{ define "main" }}
<div class="container">
{{ $scratch := newScratch }}
  <!-- to check against multiple target tags, add more tags next to "TARGETTAG" -->
{{ range (where .Site.RegularPages "Params.flags" "intersect" (slice "OpenPorts" "Unreviewed")) }}
  {{ if and (in .Params.flags "OpenPorts" ) (in .Params.flags "Unreviewed" ) }}
    {{ if not ($scratch.Get "test") }}
      {{ $scratch.Set "test" (slice .) }}
    {{ else }}
      {{ $scratch.Add "test" . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ partial "host-table.html" ( dict "Pages" ($scratch.Get "test") ) }}
  <hr />
</div>
{{ end }}
