{{ partial "header.html" . }}

{{ if eq .Kind "section" }}
	{{ .Content }}
{{end}}



<div class="container">
{{ $scratch := newScratch }}
  <!-- to check against multiple target tags, add more tags next to "TARGETTAG" -->
{{ range (where .Site.RegularPages "Params.flags" "intersect" (slice "OpenPorts" "Unreviewed")) }}
  {{ if and (in .Params.flags "OpenPorts" ) (in .Params.flags "Unreviewed" ) }}
    {{ if not ($scratch.Get "test") }}
      {{ $scratch.Set "test" (slice .) }}
    {{ else }}
      {{ $scratch.Add "test" . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ partial "host-table.html" ( dict "Pages" ($scratch.Get "test") ) }}
  <hr />
</div>

<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}
