{{ partial "header.html" . }}

{{ if eq .Kind "section" }}
	{{ .Content }}
{{end}}




<div class="container">
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Severity</th>
        <th>Exploitable</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    {{ $.Scratch.Set "counter" 0 }}
    {{ range $index, $element := sort (where (.Site.RegularPages.ByParam "sec") "Section" "in" .Site.Params.findingSections) ".Params.cvss.score" "desc" }}
      {{ if .Params.cvss.severity }}
      {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
    <tr>
      <td>
        <a href="{{.Permalink}}">
              #{{  $.Scratch.Get "counter"  }}</a>
      </td>
      <td>{{ .Params.cvss.severity }}</td>
      <td>{{ .Params.exploitation.exploitable }}</td>
      <td>{{ .Title | markdownify }}</td>
      <td>{{ .Description  | markdownify }}</td>
    </tr>
      {{ end }}
    {{ end }}
  </table>
</div>

  <footer class=" footline" >
  	{{with .Params.LastModifierDisplayName}}
  	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
  	    </div>
  	{{end}}
  </footer>

  {{ partial "footer.html" . }}
