
{{ define "main" }}


{{ if .Params.cvss.severity }}

<div class="container">
    <h2 class="section-heading">{{ .Title | markdownify }}</h2>
<pre>
Description: {{ .Params.description }}
CVSS: {{ .Params.cvss.score }}
CVSS Vector: {{ .Params.cvss.vector }}
CWEs:
{{ range .Params.cweRefs }}
 - {{.}}
{{ end }}
Affected Hosts:
{{ range .Params.affectedHosts }}
 - {{.}}
{{ end }}
</pre>

    {{$summary := print "content/" .Dir  "/summary.md" }}
    {{$affected_assets := print "content/" .Dir "/affected_assets.md" }}
    {{$recommendations := print "content/" .Dir "/recommendations.md" }}
    {{$references := print "content/" .Dir "/references.md" }}

    {{readFile $summary | markdownify}}

    <h3>Affected Assets</h3>
    {{readFile $affected_assets | markdownify}}

    <h3>Recommendations</h3>
    {{readFile $recommendations | markdownify}}

    <h3>References</h3>
    {{readFile $references | markdownify}}

    {{$steps_to_reproduce := print "content/" .Dir  "/steps_to_reproduce.md" }}
    {{ if (fileExists $steps_to_reproduce) -}}
    <h3>Steps to reproduce</h3>
    {{readFile $steps_to_reproduce | markdownify}}
    {{- end}}
  <!-- /.container -->
  <hr>
  </div>
{{ end }}

{{ end }}
